name: Release

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    name: Release
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "20.1.4"

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: adopt

      - name: Set up SBT
        uses: sbt/setup-sbt@v1

      - name: Cache SBT
        uses: actions/cache@v4
        with:
          path: %userprofile%\.sbt
          key: ${{ runner.os }}-sbt-${{ github.run_number }}
          restore-keys: ${{ runner.os }}-sbt-

      - name: Cache coursier cache
        uses: actions/cache@v4
        with:
          path: %LOCALAPPDATA%\coursier
          key: ${{ runner.os }}-coursier-${{ github.run_number }}
          restore-keys: ${{ runner.os }}-coursier-

      - name: Cache project
        uses: actions/cache@v4
        with:
          path: ./
          key: ${{ runner.os }}-project-${{ github.run_number }}
          restore-keys: ${{ runner.os }}-project-

      - name: Checkout current
        run: git checkout . && git clean -df

      - name: Install Packages
        run: .\vcpkg-install.bat

      - name: Build release
        run: sbt 'package;app/run'

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: target/out/*/*/potplayer-gemini/potplayer-gemini.zip
          generate_release_notes: true

      - name: Clean caches
        run: |
          Remove-Item .\.git -Recurse 
          Remove-Item .\.project\target -Recurse 

permissions:
  contents: write