name: Release

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
  pull_request:
    branches:
      - '**'
    tags-ignore:
      - '**'

jobs:
  build:
    runs-on: windows-latest
    name: Release
    env:
      RELEASE: ${{ startsWith(github.event.head_commit.message, 'Release')  }}
    steps:
      - uses: bhowell2/github-substring-action@1.0.2
        id: RELEASE_DATE
        with:
          value: ${{ github.event.head_commit.timestamp }}
          length_from_start: 10

      - uses: bhowell2/github-substring-action@1.0.2
        id: RELEASE_HASH
        with:
          value: ${{ github.event.after }}
          length_from_start: 5

      - name: Set RELEASE_NAME
        shell: cmd
        run: echo RELEASE_NAME=v${{ steps.RELEASE_DATE.outputs.substring }}-${{ steps.RELEASE_HASH.outputs.substring }}>> %GITHUB_ENV%

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: adopt

      - name: Set up SBT
        uses: sbt/setup-sbt@v1

      - name: Cache SBT
        uses: actions/cache@v4
        with:
          path: '%userprofile%\.sbt'
          key: ${{ runner.os }}-sbt-${{ github.run_number }}
          restore-keys: ${{ runner.os }}-sbt-

      - name: Cache coursier cache
        uses: actions/cache@v4
        with:
          path: '%LOCALAPPDATA%\coursier'
          key: ${{ runner.os }}-coursier-${{ github.run_number }}
          restore-keys: ${{ runner.os }}-coursier-

      - name: Cache project
        uses: actions/cache@v4
        with:
          path: ./
          key: ${{ runner.os }}-project-${{ github.run_number }}
          restore-keys: ${{ runner.os }}-project-

      - name: Checkout current
        shell: cmd
        run: git checkout . && git clean -df

      - name: Test release
        shell: cmd
        run: sbt libraryJVM/test
        env:
          GEMINI_KEYS: ${{ secrets.GEMINI_KEYS }}

      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v2
        with:
          version: "20.1.4"

      - name: Cache vcpkg
        uses: actions/cache@v4
        with:
          path: '%LOCALAPPDATA%\vcpkg'
          key: ${{ runner.os }}-vcpkg-${{ github.run_number }}
          restore-keys: ${{ runner.os }}-vcpkg-

      - name: Install Packages
        shell: cmd
        run: .\vcpkg-install.bat

      - name: Build release
        shell: cmd
        run: sbt package

      - name: Tag version and push
        shell: cmd
        if: env.RELEASE
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git tag "%RELEASE_NAME%"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git "%RELEASE_NAME%"
      - name: Fetch tags again to ensure latest tag is available
        shell: cmd
        if: env.RELEASE
        run: git fetch --tags
      - name: Release
        uses: softprops/action-gh-release@v2
        if: env.RELEASE
        with:
          files: target/*/potplayer-gemini.zip
          generate_release_notes: true
          tag_name: ${{ env.RELEASE_NAME }}

      - name: Clean caches
        shell: cmd
        run: |
          rmdir /s /q .\.git
          rmdir /s /q .\project\target 

permissions:
  contents: write